{% extends "main_template.html" %}
{% load render_partial %}


{% block meta1 %}
<title>جم ویژن ایران | مرجع فروش فایل سه بعدی</title>

<meta name="description" content="جم ویژن ایران، مرجع تخصصی فروش فایل‌های سه‌بعدی با بالاترین کیفیت برای طراحان، مهندسان و هنرمندان. دانلود سریع، مطمئن و پشتیبانی حرفه‌ای.">

<meta name="keywords" content="جم ویژن ایران, فروش فایل سه بعدی, مدل سه بعدی, فایل 3D, طراحی سه بعدی, مدل آماده, دانلود مدل سه بعدی, فایل طراحی">

<meta name="robots" content="noindex, nofollow">

<meta property="og:type" content="website">
<meta property="og:title" content="جم ویژن ایران | مرجع فروش فایل سه بعدی">
<meta property="og:description" content="خرید و دانلود فایل‌های سه‌بعدی باکیفیت از جم ویژن ایران، مرجع برتر طراحان و مهندسان در ایران.">
<meta property="og:image" content="">
<meta property="og:url" content="https://gemvisioniran.com">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="جم ویژن ایران | مرجع فروش فایل سه بعدی">
<meta name="twitter:description" content="جم ویژن ایران، مرکز تخصصی فروش فایل‌های سه‌بعدی با تنوع بالا و کیفیت عالی.">
<meta name="twitter:image" content="">

  <link rel="canonical" href="{{file.get_absolute_url}}">

{% endblock meta1 %}

{% block content %}

<style>
  @media (max-width: 768px) {
  .desktop-only {
    display: none;
  }
}

</style>

    <div class="flex min-h-screen flex-col">

      <div
        class="fixed inset-x-0 top-1/3 mx-auto h-1/3 w-1/4 bg-primary/50 blur-[200px]"
      ></div>

      <main class="flex-grow bg-background pb-14 pt-36 xs:pt-36">
      {% render_partial 'main:banner' %}


        <!-- Main Banners section Start -->
       <br class="desktop-only">
<br class="desktop-only">

        <section class="mb-8">
          <div class="container relative grid grid-cols-12 gap-x-4 gap-y-2">
            <div class="col-span-12 lg:col-span-8">
              <!-- Swiper -->
              <div class="swiper banner-slider rounded-lg shadow-base">
                <div class="swiper-wrapper">
                  {% render_partial 'main:sliders' %}

                </div>
                <div class="swiper-button-next hidden md:flex"></div>
                <div class="swiper-button-prev hidden md:flex"></div>
                <div class="swiper-pagination main-banner-pagination"></div>
              </div>
            </div>
            <div class="col-span-12 hidden xs:block lg:col-span-4">
              <div
                class="flex h-full flex-row justify-between gap-x-2 lg:flex-col"
              >
              {% render_partial 'main:sliders2' %}



              </div>
            </div>
          </div>
        </section>
        <!-- Main Banners section End -->

        <!-- Special Products section Start -->


 {% render_partial 'file:rich_groups' %}

      {% render_partial 'file:latest_files' %}


        <!-- Special Products section End -->



      {% render_partial 'file:best_selling' %}

         <div id="special-products">
        {% render_partial 'file:special' %}
      </div>

     {% render_partial 'blog:show_blog' %}



      </main>

    </div>



<script>
  document.querySelector('[data-dismiss="modal"]').addEventListener('click', function() {
    document.getElementById('successModal').classList.add('hidden');
  });

</script>

{% endblock content %}